<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tab 4</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 4</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div id="map"></div>

    <div id="recherche">
      <form (submit)="onSearch($event)">
        <select class="option-critere" #critereSelect>
          <option value="Nom">Nom</option>
          <option value="CodeInsee">INSEE</option>
          <option value="CodePostal">Code Postal</option>
          <option value="Population">Population</option>
          <option value="Superficie">Superficie</option>
          <option value="DensitéPopulation">Densité Population</option>
        </select>

        <input
          type="text"
          name="search"
          class="critere"
          placeholder="tapez ici"
          #critereInput
          (input)="onInputChange(critereInput.value)"
        />

        <button type="submit" class="src-button">Rechercher</button>
      </form>

      <button id="btn-geo" title="Borne la plus proche" (click)="geoLocaliser()">
        {{ geoIcon }}
      </button>
    </div>

    <div id="barre_laterale" [class.fermee]="sidebarFermee">
      <button id="btn-fermer" (click)="fermerSidebar()">✕</button>
      <div id="infos" [innerHTML]="infosHtml"></div>
    </div>
  </div>
</ion-content>
